
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_horiz</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>mode</mat-icon>
    <span>Update Email</span>
  </button>
  <span matTooltip="Delete action only available to admin" [matTooltipDisabled]="params?.permissions?.canDelete">
    <button mat-menu-item (click)="deleteUser(params.data.email)" [disabled]="!params?.permissions?.canDelete">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </span>
</mat-menu>
