<mat-card class="mat-elevation-z4">
  <mat-card-title>Personnel Details</mat-card-title>
  <mat-card-content>
    <app-key-value-pair
      [key]="'Name:'"
      [value]="(user?.name?.first | concat: user?.name?.last)"
    ></app-key-value-pair>

    <app-key-value-pair
      [key]="'Date of Birth:'"
      [value]="(user?.dob?.date | date: 'yyyy-MM-dd')"
    ></app-key-value-pair>

    <app-key-value-pair
      [key]="'Email:'"
      [value]="user?.email || null"
    ></app-key-value-pair>

    <app-key-value-pair
      [key]="'Username:'"
      [value]="user?.login?.username || null"
    ></app-key-value-pair>

    <app-key-value-pair
      [key]="'Street Address:'"
      [value]="(user?.location?.street?.number?.toString() | concat: user?.location?.street?.name)"
    ></app-key-value-pair>

    <app-key-value-pair
      [key]="'City:'"
      [value]="user?.location?.city || null"
    ></app-key-value-pair>

    <app-key-value-pair
      [key]="'State:'"
      [value]="user?.location?.state || null"
    ></app-key-value-pair>

    <app-key-value-pair
      [key]="'Postal Code:'"
      [value]="user?.location?.postcode || null"
    ></app-key-value-pair>

    <app-key-value-pair
      [key]="'Country:'"
      [value]="user?.location?.country || null"
    ></app-key-value-pair>
  </mat-card-content>
</mat-card>
