<mat-toolbar [color]="'primary'">
  <span>Personnel Manager</span>
</mat-toolbar>

<main *ngIf="usersPageViewModel$ | async as vm">
  <mat-card class="mat-elevation-z4">
    <app-users-table
      [users]="vm.users"
      [permissions]="vm.permissions"
      (deleteUser)="onDeleteUser($event)"
      (selectUser)="onSelectUser($event)"
      (updateEmail)="onUpdateEmail($event)"
    ></app-users-table>
  </mat-card>
  <app-selected-user
    [user]="vm.selectedUser"
  ></app-selected-user>
</main>
